@model WebSocialHerb.Models.herb

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>herb</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameOther)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameOther)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HerbImg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HerbImg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Leaf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Leaf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeafImg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeafImg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trunk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trunk)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrunkImg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrunkImg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Root)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Root)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RootImg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RootImg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Crop)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Crop)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CropImg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CropImg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Corm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Corm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CormImg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CormImg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Flower)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Flower)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FlowerImg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FlowerImg)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HerbName }) |
    @Html.ActionLink("Back to List", "Index")
</p>
