@model IEnumerable<WebSocialHerb.Models.herb>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NameOther)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HerbImg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Leaf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LeafImg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trunk)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrunkImg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Root)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RootImg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Crop)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CropImg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Corm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CormImg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Flower)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FlowerImg)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NameOther)
        </td>
        <td>
            <img src="@Html.DisplayFor(modelItem => item.HerbImg)" width="300" height="300" />
        </td>
        <td>
            <pre>@Html.DisplayFor(modelItem => item.Leaf)</pre>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LeafImg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Trunk)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrunkImg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Root)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RootImg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Crop)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CropImg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Corm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CormImg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Flower)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FlowerImg)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.HerbName }) |
            @Html.ActionLink("Details", "Details", new { id=item.HerbName }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.HerbName })
        </td>
    </tr>
}

</table>
