@model WebAppHerb.Models.Disease

@{
    ViewBag.Title = "Disease Add -";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br><br>
<h2>Add</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>อาการ/โรค</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.diseaseID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.diseaseID, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.diseaseID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.diseaseName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.diseaseName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.diseaseName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.syntom, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.syntom, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.syntom)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.herbName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.herbName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.herbID)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}