@model WebAppHerb.Models.Disease

@{
    ViewBag.Title = "Disease Delete - ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br><br>
<h2>Delete</h2>

<h3>คุณต้องการจะลบใช่หรือไม่</h3>
<div>
    <h4>อาการ/โรค</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.diseaseID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.diseaseID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.diseaseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diseaseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.syntom)
        </dt>

        <dd>
            <pre>@Html.DisplayFor(model => model.syntom)</pre>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.herbName)
        </dt>

        <dd>
            <pre>@Html.DisplayFor(model => model.herbName)</pre>
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>