@model WebAppHerb.Models.HerbImage

@{
    ViewBag.Title = "Herb Image Delete -";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br><br>
<h2>Delete</h2>

<h3>คุณต้องการจะลบใช่หรือไม่</h3>
<div>
    <h4>รูปภาพสมุนไพร</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.herbImageID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.herbImageID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.herbName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.herbName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shootTip)
        </dt>

        <dd>
            <img src="@Html.DisplayFor(model => model.shootTip)" width="300" height="300" />            
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.groundTissue)
        </dt>

        <dd>
            <img src="@Html.DisplayFor(model => model.groundTissue)" width="300" height="300" />            
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.leaf)
        </dt>

        <dd>
            <img src="@Html.DisplayFor(model => model.leaf)" width="300" height="300" />            
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.flower)
        </dt>

        <dd>
            <img src="@Html.DisplayFor(model => model.flower)" width="300" height="300" />            
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.seeds)
        </dt>

        <dd>
            <img src="@Html.DisplayFor(model => model.seeds)" width="300" height="300" />            
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.root)
        </dt>

        <dd>
            <img src="@Html.DisplayFor(model => model.root)" width="300" height="300" />            
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
