@model WebAppHerb.Models.HerbImage

@{
    ViewBag.Title = "Herb Image Update -";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br><br>
<h2>Update</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>รูปภาพสมุนไพร</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.herbImageID)

        <div class="form-group">
            @Html.LabelFor(model => model.herbName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.herbName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.herbName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.shootTip, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.shootTip, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.shootTip)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.groundTissue, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.groundTissue, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.groundTissue)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.leaf, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.leaf, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.leaf)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.flower, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.flower, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.flower)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.seeds, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.seeds, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.seeds)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.root, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.root, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.root)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
