@model IEnumerable<WebAppHerb.Models.HerbImage>

@{
    ViewBag.Title = "Herb Image -";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br><br>
<h2>รูปภาพสมุนไพร</h2>

<p class="btn btn-default">
    @Html.ActionLink("Add", "Create")
</p>
<table class="table table-bordered">
    <tr class="active">
        <th>
            @Html.DisplayNameFor(model => model.herbName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.shootTip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.groundTissue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.leaf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.flower)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.seeds)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.root)
        </th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="success">
            <td>
                @Html.DisplayFor(modelItem => item.herbName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.shootTip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.groundTissue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.leaf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.flower)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.seeds)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.root)
            </td>
            <td>
                <p class="btn btn-default">
                    @Html.ActionLink("Update", "Edit", new { id = item.herbImageID })
                </p> 
            </td>
            <td>
                <p class="btn btn-default">
                    @Html.ActionLink("Delete", "Delete", new { id = item.herbImageID })
                </p>
            </td>
        </tr>
    }

</table>
