@model WebAppHerb.Models.Research

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Research</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.researchName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.researchName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.researchLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.researchLink)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.herbID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.herbID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.researchID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
