@model WebAppHerb.Models.Herb

@{
    ViewBag.Title = "Herb Delete - ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br><br>
<h2>Delete</h2>

<h3>คุณต้องการจะลบใช่หรือไม่</h3>
<div>
    <h4>สมุนไพร</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.herbName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.herbName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.herbDetail)
        </dt>

        <dd>
            <pre>@Html.DisplayFor(model => model.herbDetail)</pre>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.herbProperties)
        </dt>

        <dd>
            <pre>@Html.DisplayFor(model => model.herbProperties)</pre>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.herbHowto)
        </dt>

        <dd>
            <pre>@Html.DisplayFor(model => model.herbHowto)</pre>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.herbDirect)
        </dt>

        <dd>
            <pre>@Html.DisplayFor(model => model.herbDirect)</pre>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.herbImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.herbImage)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
