@model WebAppHerb.Models.Article

@{
    ViewBag.Title = "Article Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br><br>
<h2>Update</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>บทความเพื่อสุขภาพ</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.articleID)

        <div class="form-group">
            @Html.LabelFor(model => model.articleName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.articleName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.articleName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.articleDetail, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.articleDetail, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.articleDetail)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.articleReference, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.articleReference, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.articleReference)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.articleImage, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.articleImage, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.articleImage)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
