@model IEnumerable<WebAppHerb.Models.Article>

@{
    ViewBag.Title = "Article";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br><br>
<h2>บทความเพื่อสุขภาพ</h2>

<p class="btn btn-default">
    @Html.ActionLink("Add", "Create")
</p>
<table class="table table-bordered">
    <tr class="active">
        <th>
            @Html.DisplayNameFor(model => model.articleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.articleDetail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.articleReference)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.articleImage)
        </th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="success">
            <td>
                @Html.DisplayFor(modelItem => item.articleName)
            </td>
            <td>
                <pre>@Html.DisplayFor(modelItem => item.articleDetail)</pre>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.articleReference)
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.articleImage)" width="100" height="100" />
            </td>
            <td>
                <p class="btn btn-default">
                    @Html.ActionLink("Update", "Edit", new { id = item.articleID })
                </p>

            </td>
            <td>
                <p class="btn btn-default">
                    @Html.ActionLink("Delete", "Delete", new { id = item.articleID })
                </p>
            </td>
        </tr>
    }

</table>
