@model WebSocialHerb.Models.herbdetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>herbdetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Properties)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Properties)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Help)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Help)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Warning)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Warning)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResearchName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResearchName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Research)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Research)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Link)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.herb.NameOther)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.herb.NameOther)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DetailID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
