@model IEnumerable<WebSocialHerb.Models.herbdetail>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Properties)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Help)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Warning)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResearchName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Research)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Link)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.herb.NameOther)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Properties)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Help)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Warning)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResearchName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Research)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Link)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.herb.NameOther)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DetailID }) |
            @Html.ActionLink("Details", "Details", new { id=item.DetailID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DetailID })
        </td>
    </tr>
}

</table>
