@model SocialHerb.Models.Article

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Article</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.articleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.articleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.articleDetail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.articleDetail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.articleReference)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.articleReference)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.articleImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.articleImage)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.articleID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
